.AnswerItem {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.AnswerItem:hover {
    background: cadetblue;
    transition: background  0.5s ease-in-out;
}
.AnswerItem.success {
    background: chartreuse;
    color: black;
}
.AnswerItem.error {
    background: red;
}